@model KullaniciViewModel
@{
    ViewData["Title"] = "Authorization";
    Layout = "~/Views/Shared/_Layout_Second.cshtml";

}
<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<div class="container top_sizec ">
    <div class="row">
        <div class="col-sm-offset-3 col-lg-offset-3 col-md-offset-3 col-lg-2 col-md-2 col-sm-2 col-xs-4 ">
            <a href="" id="backgroundandposition"><img src="~/images/login_ccninsaat.PNG" /></a>
        </div>

        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <h3 class="h3_bold h3_position x_hidden">
                İHALE PLATFORMU
            </h3>
        </div>
    </div>
    @if(ViewBag.adminYetki || ViewBag.ihaleYetki) {
        <form asp-action="Authorization" method="get">
            <div class="row top_sizey">
                <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-3 col-md-3 col-lg-3">
                    <select asp-for="IhaleID" id="combobox1" class="combobox comb_size form-control">
                        @if (ViewBag.adminYetki)
                        {
                            <option value="0">Tüm Paketler</option>

                            @foreach (IhalePaket ih in Model.ihalepaketList)
                            {
                                <option value="@ih.ID">@ih.Konu </option>
                            }
                        }
                        else if (ViewBag.ihaleYetki && !ViewBag.adminYetki)
                        {
           
                            @foreach (IhalePaket ih in Model.ihalepaketList)
                            {
                                @foreach (KullaniciIhaleYetkisi ki in Model.kullaniciihaleyetkisiListCombo)
                                {
                                    if (ki.IhalePaketID == ih.ID)
                                    {
                                        <option value="@ih.ID">@ih.Konu </option>
                                    }
                                }
                            }
                        }

                    </select>
                </div>
                <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-3 col-md-3 col-lg-3">

                    @if (ViewBag.adminYetki)
                    {
                        <select asp-for="UserID" id="combobox2" class="combobox comb_size form-control">
                            <option value="0">Tüm Kullanıcılar</option>

                            @foreach (Kullanici ku in Model.kullaniciList)
                            {
                                <option value="@ku.ID">@ku.LoginName</option>
                            }
                            
                        </select>
                    }
                </div>
                @if (!ViewBag.adminYetki)
                {
                    <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1  col-xs-offset-1  col-sm-3 col-md-3 col-xs-3 col-lg-3">
                        <a href="~/Home/Authorizationadd/?IhaleID=@Model.ihalepaket.ID" class="btn btn-primary" role="button">Yetki Ekle</a>
                    </div>
                }
                else
                {
                    <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-offset-1  col-md-3 col-lg-3 col-xs-3">
                        <a href="~/Home/Authorizationadd" class="btn btn-primary" role="button">Yetki Ekle</a>
                    </div>
                }
            </div>

            <div class="row  top_sizey">
                <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-11 col-md-11 col-lg-11">
                    <table class="second_design_table" id="table_user">
                        <tr>
                            <th style="width:30%">Kullanıcı Adı</th>
                            <th style="width:30%">İhale Paket</th>
                            <th style="width:10%">İhale Yetkilisi</th>
                            <th style="width:20%">Değiştir</th>
                        </tr>

                        @if (ViewBag.ihaleid == 0)
                        {
                            @foreach (KullaniciIhaleYetkisi ki in Model.kullaniciihaleyetkisiList)//uc tane foreach var cunku setlenmemis bir ihaleid var
                            {
                                @foreach (IhalePaket ih in Model.ihalepaketList)
                                {
                                    @foreach (Kullanici ku in Model.kullaniciList)
                                    {
                                        if (ki.IhalePaketID == ih.ID && ku.ID == ki.UserID)//@Model.ihalepaket.ID @Model.kullanici.loginname
                                        {
                                            <tr>
                                                <td style="width:25%">@ku.LoginName</td>
                                                <td style="width:30%">@ih.Konu</td>
                                                <td style="width:10%">@ki.IhaleYetkilisi</td>
                                                <td style="width:25%">
                                                    <a href="~/Home/Authorizationedit/@ki.ID" class="btn btn-primary">Düzenle</a>
                                                    <button asp-route-id="@ki.ID" type="submit" class="btn btn-primary">Sil</button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            }
                        }
                        else
                        {
                            @foreach (Kullanici ku in Model.kullaniciList)
                            {
                                @foreach (KullaniciIhaleYetkisi ki in Model.kullaniciihaleyetkisiList)
                                {
                                    @if (ViewBag.adminYetki)
                                    {
                                        if (ki.IhalePaketID == ViewBag.ihaleid && ki.UserID == ku.ID)
                                        {
                                            <tr>
                                                <td style="width:25%">@ku.LoginName</td>
                                                <td style="width:30%">@Model.ihalepaket.Konu</td>
                                                <td style="width:10%">@ki.IhaleYetkilisi</td>
                                                <td style="width:25%">
                                                    <a href="~/Home/Authorizationedit/@ki.ID" class="btn btn-primary">Düzenle</a>
                                                    <button asp-route-id="@ki.ID" type="submit" class="btn btn-primary">Sil</button>
                                                </td>

                                            </tr>
                                        }
                                    }
                                    else if (!ViewBag.adminYetki && ViewBag.ihaleYetki)
                                    {
                                        if (ki.UserID == ku.ID)
                                        {
                                            <tr>
                                                <td style="width:25%">@ku.LoginName</td>
                                                <td style="width:30%">@Model.ihalepaket.Konu</td>
                                                <td style="width:10%">@ki.IhaleYetkilisi</td>
                                                <td style="width:25%">
                                                    <a href="~/Home/Authorizationedit/@ki.ID?IhaleID=@Model.ihalepaket.ID" class="btn btn-primary">Düzenle</a>
                                                    <button asp-route-id="@ki.ID" type="submit" class="btn btn-primary">Sil</button>
                                                </td>

                                            </tr>
                                        }
                                    }
                                }
                            }
                        }

                    </table>
                </div>
            </div>
        </form>
        <script>
            $("#combobox1").on("change", function () {
                $("form").submit();
            });
            $("#combobox2").on("change", function () {
                $("form").submit();
            });
        </script>
    }
    else
    {
        <div class="row top_sizey">
            <div class="col-sm-offset-3 col-lg-offset-3 col-md-offset-3">
                <h3>Yetkiniz Bulunmamaktadır!</h3>
            </div>
        </div>
    }
</div>
