@model KullaniciViewModel
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout_Second.cshtml";
}

<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<div class="container top_sizec ">
    <div class="row">
        <div class="col-sm-offset-3 col-lg-offset-3 col-md-offset-3 col-lg-2 col-md-2 col-sm-2 col-xs-4 ">
            <a href="" id="backgroundandposition"><img src="~/images/login_ccninsaat.PNG" /></a>
        </div>

        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-8">
            <h3 class="h3_bold h3_position x_hidden">
                İHALE PLATFORMU
            </h3>
        </div>
    </div>
    @if (ViewBag.adminYetki)
    {
        <form asp-action="Users" method="get">
            <div class="row top_sizey">
                <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-3 col-md-3 col-lg-3">
                    <a asp-action="Useradd" asp-controller="Home" class="btn btn-primary" role="button">Kullanıcı Ekle</a>
                </div>
                <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                    <p class="p_bold p_colorred">@ViewBag.error</p>
                </div>
            </div>

            <div class="row  top_sizey">
                <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-11 col-md-11 col-lg-11">
                    <table class="second_design_table" id="table_user">

                        <tr>
                            <th style="width:10%">Kullanıcı Adı</th>
                            <th style="width:15%">Adı Soyadı</th>
                            <th style="width:20%">Mail Adresi</th>
                            <th style="width:20%">Ünvan</th>
                            <th style="width:10%">Admin Yetki</th>
                            <th style="width:25%">Değiştir</th>
                        </tr>



                        @foreach (Kullanici ku in Model.kullaniciList)
                        {
                            <tr>
                                <td style="width:10%">@ku.LoginName</td>
                                <td style="width:15%">@ku.AdSoyad</td>
                                <td style="width:20%">@ku.MailAdres</td>
                                <td style="width:20%">@ku.Unvan</td>
                                <td style="width:10%">@ku.AdminYetki</td>
                                <td style="width:25%">
                                    <a href="~/Home/Usereditt/@ku.ID" class="btn btn-primary">Düzenle</a>
                                    <button asp-route-id="@ku.ID" type="submit" class="btn btn-primary">Sil</button>
                                </td>
                            </tr>
                        }
                    </table>

                </div>
            </div>
        </form>
    }
    else
    {
        <div class="row top_sizey">
            <div class="col-sm-offset-5 col-lg-offset-5 col-md-offset-5">
                <h3>Yetkiniz Bulunmamaktadır!</h3>
            </div>
        </div>
    }
</div>


@*
    <div class="row top_sizec">
        <div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-sm-9 col-md-9 col-lg-9">
            <div class="form-popup" id="editForm">
                <form asp-action="Useredit" class="form-container" method="get">
                    <h1 class="h1_color h1_position">Kullanıcı Düzenle</h1>
                    <p class="p_fonttype p_bold  p_position">Kullanıcı Adı</p>
                    <input asp-for="@Model.kullanici.LoginName" type="text" class="form-control textbox_size">
                    <p class="p_fonttype p_bold  p_position">Adı Soyadı</p>
                    <input asp-for="@Model.kullanici.AdSoyad" type="text" class="form-control textbox_size">
                    <p class="p_fonttype p_bold  p_position">Şifre</p>
                    <input asp-for="@Model.kullanici.Sifre" type="text" class="form-control textbox_size">
                    <div class="checkbox checkbox_position">
                        <p class="p_fonttype p_bold"><input asp-for="@Model.kullanici.AdminYetki" type="checkbox" value="">Admin Yetki</p>
                    </div>
                    <button type="button" onclick="closeEditForm()" class="btn btn-primary">Vazgeç</button>
                    <button type="submit" class="btn btn-primary">Düzenle</button>
                </form>
            </div>
        </div>
    </div>
*@

